{% extends "main/base.html" %}
{% load static %}
{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <div class="col-lg-10">
        <div class="row">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-9 bg-white p-4 mb-5 mx-2 rounded custom-shadow">
                        <h2 class="text-center mb-4">Registration</h2>


                        {% if messages %}
                          {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} mb-3">{{ message }}</div>
                          {% endfor %}
                        {% endif %}

                        <form action="{% url 'user:registration' %}" method="post" novalidate>
                            {% csrf_token %}


                            {% if form.non_field_errors %}
                              <div class="alert alert-danger">
                                {% for err in form.non_field_errors %}{{ err }}<br>{% endfor %}
                              </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="id_first_name" class="form-label">First name*</label>
                                    <input type="text" class="form-control" id="id_first_name"
                                           name="first_name"
                                           value="{{ form.first_name.value|default:'' }}"
                                           placeholder="Enter your first name" required>
                                    {% for err in form.first_name.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_last_name" class="form-label">Last name*</label>
                                    <input type="text" class="form-control" id="id_last_name"
                                           name="last_name"
                                           value="{{ form.last_name.value|default:'' }}"
                                           placeholder="Enter your last name" required>
                                    {% for err in form.last_name.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_username" class="form-label">Username*</label>
                                    <input type="text" name="username" class="form-control" id="id_username"
                                           value="{{ form.username.value|default:'' }}"
                                           placeholder="Enter your username" required>
                                    {% for err in form.username.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_email" class="form-label">Email*</label>
                                    <input type="email" name="email" class="form-control" id="id_email"
                                           value="{{ form.email.value|default:'' }}"
                                           placeholder="Enter your email" required>
                                    {% for err in form.email.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_password1" class="form-label">Password*</label>
                                    <input type="password" name="password1" class="form-control" id="id_password1"
                                           placeholder="Enter your password" required>
                                    {% for err in form.password1.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label for="id_password2" class="form-label">Confirm password*</label>
                                    <input type="password" name="password2" class="form-control" id="id_password2"
                                           placeholder="Confirm your password" required>
                                    {% for err in form.password2.errors %}
                                      <div class="invalid-feedback d-block">{{ err }}</div>
                                    {% endfor %}
                                </div>
                            </div>


                            {% if request.GET.next %}
                              <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}

                            <button type="submit" class="btn btn-dark btn-block">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
